:root { 
    --main-font-family: Tahoma, sans-serif;
    --main-font-size: 16px;
    --accent-color: #3A745E;

    --main-text-color: #ebebeb;
    --dop-text-color: #9E9E9E;

    --main-background-color: #171a1a;
    --dop1-background-color: #212323;
    --dop2-background-color: #D5D5D5;
    --code-background-color: rgba(255, 255, 255, 0.1);

    --btn-background: var(--accent-color);
    --btn-color: var(--main-text-color);
    --btn-second-background: var(--main-text-color);
    --btn-second-color: var(--main-background-color);
    --link-color: #5bb193;
    --error-color: #f44336;
    --warning-color: #f49236;
    --success-color: #4caf50;
}  
